<div class="flex-fill d-flex flex-column justify-content-center pb-8">
    <div class="container-tight py-6">
      <form class="card bg-light card-md" action="." method="get">
        <div class="card-body">
          <h2 class="mb-5 text-center">Forgot password</h2>
          <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary btn-block">Send me new password</button>
          </div>
        </div>
        <div class="text-center pb-5">
        Forget it, <a href="/login"><strong>send me back</strong> </a> to the sign in screen.
      </div>
      </form>
      
    </div>
  </div>