<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 pt-0 m-0 col-lg-6 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>UTickets Makes a memorable events </h1>
        <h2>An event ticketing management app, from designing to check-in, we are with you!!</h2>
        <div class="pt-3"><a href="/utickets" class="btn btn-outline-primary btn-lg  btn-square">Get Started</a></div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 pt-0 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <img src="/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
 

<section class="services pt-5" id="services">
  <div class="section-title">
    <h2 class="text-dark">Services</h2>
    <p><h3 class="text-black-50">UTickets covers all the event's tickets management with an affordable prices and high rated customer care. <br>
    Keep track to every tickets transaction done with both sellers and attendes.
    </h3></p>
  </div>
  <div class="content">
  <div class="container-xl">
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <a class="card card-link" href="#">
          <div class="card-cover text-center" style="background-image: url(/img/services/KCCC.jpg)">
            <span class="avatar avatar-lg rounded-0 avatar-thumb" style="background-image: url(/img/services/qr.png)"></span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Tickets making</div>
            <div class="text-muted">With Designing, barcode, serial numbers and stub section. </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="card card-link" href="#">
          <div class="card-cover text-center" style="background-image: url(/img/services/KCCC.jpg)">
            <span class="avatar avatar-lg rounded-0 avatar-thumb" style="background-image: url(/img/services/qr.png)"></span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Tickets printing</div>
            <div class="text-muted">more printing options with different paper types</div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="card card-link" href="#">
          <div class="card-cover text-center" style="background-image: url(/img/services/KCCC.jpg)">
            <span class="avatar avatar-lg rounded-0 avatar-thumb" style="background-image: url(/img/services/qr.png)"></span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Tickets Selling</div>
            <div class="text-muted">No more fake sells. Track and sell your tickets online</div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-xl-3">
        <a class="card card-link" href="#">
          <div class="card-cover text-center" style="background-image: url(/img/services/KCCC.jpg)">
            <span class="avatar avatar-lg rounded-0 avatar-thumb" style="background-image: url(/img/services/qr.png)"></span>
          </div>
          <div class="card-body text-center">
            <div class="card-title mb-1">Event check-in</div>
            <div class="text-muted">Verify tickets through barcode, with barcode scanner or phone</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</section>

<section id="why-us" class="why-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>Why Choose UTickets?</h3>
          <p>
            We made it simple, have full controll over your event by managing tickets services all by yourself!
             from designing, printing, selling and checking tickets. we ensure you the security with the unique tickets.<br>
             We care wether you got designing skills or not, and provide help, We also agree that you can get separate services from us.
          </p>
          <div class="text-center">
            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-xl" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M7 18a4.6 4.4 0 0 1 0 -9h0a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"></path><polyline points="13 14 11 18 14 18 12 22"></polyline></svg>
                <h4>Fast and reliable</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-xl" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M9 12l2 2l4 -4"></path><path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"></path></svg>
                <h4>Secure and verified</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-xl" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="12" r="9"></circle><line x1="9" y1="9" x2="9.01" y2="9"></line><line x1="15" y1="9" x2="15.01" y2="9"></line><path d="M8 13a4 4 0 1 0 8 0m0 0H8"></path></svg>
                <h4>Easy use and setups</h4>
                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section>


<section class="services">
  <div class="container-xl">
    <div class="section-title p-4">
      <h2 class="text-dark">Steps to host event</h2>
      <p><h3 class="text-black-50">Here are simple steps to host an event tickets, simply read them, <br>
         they will be other page to page help and don't hesitate to ask for help. <br>
      For both with desinging skills or not, promise is promise!! <br>
      Just follow the steps it simple and secured. </h3></p>
    </div>
    <div class="steps steps-counter steps-blue">
      <!-- --------------------------------------------------------------- -->
      <a href="#" class="step-item" data-toggle="dropdown" data-placement="top" title="Event infornamtion">
        <strong class="text-dark">Add Event
          <i class="icofont-circled-down text-blue"></i>
        </strong>
      </a>
      <div class="dropdown-menu dropdown-menu-card" style="max-width: 18rem;">
        <div class="card d-flex flex-column">
          <a href="#">
            <img class="card-img-top" src="/img/services/KCCC.jpg" alt="How do you know she is a witch?">
          </a>
          <div class="card-body d-flex flex-column">
            <h3 class="card-title"><a href="#">How do you add event?</a></h3>
            <div class="text-muted">Are you suggesting that coconuts migrate? No, no, no! Yes, yes. A bit. But she's got a wart. You ...</div>
            
          </div>
          <div class="card-footer bg-dark-overlay">
            <div class="d-flex align-items-center pt-1 mt-auto">
            <i class="icofont-print text-dark icofont-3x"></i>
            <div class="ml-2">
              <a href="#" class="text-body">Printing and perforation</a>
              <small class="d-block text-muted">Within 1 day</small>
            </div>
            <div class="ml-auto">
              <a href="#" class="icon d-none d-md-inline-block ml-3 text-muted">
                <i class="icofont-flash icofont-1x"></i>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- --------------------------------------------------------------- -->

      <a href="#" class="step-item" data-toggle="dropdown" data-placement="top" title="Adding tickets">
        <strong>Add Tickets
          <i class="icofont-circled-down text-blue"></i>
        </strong>
      </a>
      <div class="dropdown-menu dropdown-menu-card" style="max-width: 18rem;">
        <div class="card d-flex flex-column">
          <a href="#">
            <img class="card-img-top" src="/img/services/KCCC.jpg" alt="How do you know she is a witch?">
          </a>
          <div class="card-body d-flex flex-column">
            <h3 class="card-title"><a href="#">How do you make tickets?</a></h3>
            <div class="text-muted">Are you suggesting that coconuts migrate? No, no, no! Yes, yes. A bit. But she's got a wart. You ...</div>
            
          </div>
          <div class="card-footer bg-dark-overlay">
            <div class="d-flex align-items-center pt-1 mt-auto">
            <!-- <i class="icofont-ticket text-dark icofont-4x"></i> -->
            <img src="/img/icons/ticket.png" style="width: 40px;" alt="">
            <div class="ml-2">
              <a href="#" class="text-body">Printing and perforation</a>
              <small class="d-block text-muted">Within 1 day</small>
            </div>
            <div class="ml-auto">
              <a href="#" class="icon d-none d-md-inline-block ml-3 text-muted">
                <i class="icofont-flash icofont-1x"></i>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- --------------------------------------------------------------- -->
      <a href="#" class="step-item " data-toggle="dropdown" data-placement="top" title="Printing tickets">
        <strong>Printing
          <i class="icofont-circled-down text-blue"></i>
        </strong>
      </a>
      <div class="dropdown-menu dropdown-menu-card" style="max-width: 18rem;">
        <div class="card d-flex flex-column">
          <a href="#">
            <img class="card-img-top" src="/img/services/KCCC.jpg" alt="How do you know she is a witch?">
          </a>
          <div class="card-body d-flex flex-column">
            <h3 class="card-title"><a href="#">How do you print tickets?</a></h3>
            <div class="text-muted">Are you suggesting that coconuts migrate? No, no, no! Yes, yes. A bit. But she's got a wart. You ...</div>
          </div>
          <div class="card-footer bg-dark-overlay">
            <div class="d-flex align-items-center pt-1 mt-auto">
            <i class="icofont-printer icofont-3x" style="color: black;"></i>
            <div class="ml-3">
              <a href="#" class="text-body">Printing and perforation</a>
              <small class="d-block text-muted">Within 1 day</small>
            </div>
            <div class="ml-auto">
              <a href="#" class="icon d-none d-md-inline-block ml-3 text-muted">
                <i class="icofont-flash icofont-1x"></i>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- --------------------------------------------------------------- -->
      <a href="#" class="step-item" data-toggle="dropdown" data-placement="top" title="Selling tickets">
        <strong>Selling
          <i class="icofont-circled-down text-blue"></i>
        </strong>
      </a>
      <div class="dropdown-menu dropdown-menu-card" style="max-width: 18rem;">
        <div class="card d-flex flex-column">
          <a href="#">
            <img class="card-img-top" src="/img/services/KCCC.jpg" alt="How do you know she is a witch?">
          </a>
          <div class="card-body d-flex flex-column">
            <h3 class="card-title"><a href="#">How do you sell tickets?</a></h3>
            <div class="text-muted">Are you suggesting that coconuts migrate? No, no, no! Yes, yes. A bit. But she's got a wart. You ...</div>
            
          </div>
          <div class="card-footer bg-dark-overlay">
            <div class="d-flex align-items-center pt-1 mt-auto">
            <i class="icofont-cart icofont-3x" style="color: black;"></i>
            <div class="ml-2">
              <a href="#" class="text-body">Selling </a>
              <small class="d-block text-muted">Every time</small>
            </div>
            <div class="ml-auto">
              <a href="#" class="icon d-none d-md-inline-block ml-3 text-muted">
                <i class="icofont-flash icofont-1x"></i>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- --------------------------------------------------------------- -->
      <a href="#" class="step-item " data-toggle="dropdown" data-placement="top" title="Event check-in">
        <strong>Check-in
          <i class="icofont-circled-down text-blue"></i>
        </strong>
      </a>
      <div class="dropdown-menu dropdown-menu-card" style="max-width: 18rem;">
        <div class="card d-flex flex-column">
          <a href="#">
            <img class="card-img-top" src="/img/services/KCCC.jpg" alt="How do you know she is a witch?">
          </a>
          <div class="card-body d-flex flex-column">
            <h3 class="card-title"><a href="#">How do you check-in?</a></h3>
            <div class="text-muted">Are you suggesting that coconuts migrate? No, no, no! Yes, yes. A bit. But she's got a wart. You ...</div>
            
          </div>
          <div class="card-footer bg-dark-overlay">
            <div class="d-flex align-items-center pt-1 mt-auto">
            <!-- <i class="icofont-print text-dark icofont-3x"></i> -->
            <img src="/img/icons/check-in.png" style="width: 40px;" alt="">
            <div class="ml-3">
              <a href="#" class="text-body">Scanning a ticket</a>
              <small class="d-block text-muted">3 sec</small>
            </div>
            <div class="ml-auto">
              <a href="#" class="icon d-none d-md-inline-block ml-3 text-muted">
                <i class="icofont-flash icofont-1x"></i>
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- --------------------------------------------------------------- -->
      
    </div>
    <div class="container-xl pt-2">
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-blue-lt">
            <div class="card-header">
              <h3 class="card-title">Here are the steps to host an event</h3>
            </div>
            <div class="card-body">
              <div class="row mb-n3">
                <div class="col-12 row row-sm mb-3 ">
                    <ul class="list list-timeline">
                      <li >
                        <div class="list-timeline-icon bg-twitter"><strong>1</strong>
                        </div>
                        <div class="list-timeline-content">
                          <div class="list-timeline-time"><h3><b>Add event</b></h3></div>
                          <p class="list-timeline-title">Add new event</p>
                          <p class="text-muted">Click <strong>add new event button</strong>  at top right side of this page, and fill the form<br>
                            if you don't have <em>graphic design knowledge</em>  click on <strong>request a design</strong>  button on add new event form.
                            and UTickets will design a pretty fenty event artwork, tickets and postels within 2 days.
                          </p>
                        </div>
                      </li>
                      <li >
                        <div class="list-timeline-icon bg-twitter"><strong>2</strong>
                        </div>
                        <div class="list-timeline-content">
                          <p class="list-timeline-title">Setup tickets</p>
                          <p class="text-muted">Click <strong>add new event button</strong>  at top right side of this page, and fill the form<br>
                            if you don't have <em>graphic design knowledge</em>  click on <strong>request a design</strong>  button on add new event form.
                            and UTickets will design a pretty fenty event artwork, tickets and postels within 2 days.
                          </p>
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-blue-lt">
            <div class="card-header">
              <h3 class="card-title">Here are the steps to host an event</h3>
            </div>
            
            <div class="card-body">
              <div class="row mb-n3">
                <div class="col-12 row row-sm mb-3 ">
                    <ul class="list list-timeline">
                      <li >
                        <div class="list-timeline-icon bg-twitter"><strong>1</strong>
                        </div>
                        <div class="list-timeline-content">
                          <div class="list-timeline-time"><h3><b>Add event</b></h3></div>
                          <p class="list-timeline-title">Add new event</p>
                          <p class="text-muted">Click <strong>add new event button</strong>  at top right side of this page, and fill the form<br>
                            if you don't have <em>graphic design knowledge</em>  click on <strong>request a design</strong>  button on add new event form.
                            and UTickets will design a pretty fenty event artwork, tickets and postels within 2 days.
                          </p>
                        </div>
                      </li>
                      <li >
                        <div class="list-timeline-icon bg-twitter"><strong>2</strong>
                        </div>
                        <div class="list-timeline-content">
                          <p class="list-timeline-title">Setup tickets</p>
                          <p class="text-muted">Click <strong>add new event button</strong>  at top right side of this page, and fill the form<br>
                            if you don't have <em>graphic design knowledge</em>  click on <strong>request a design</strong>  button on add new event form.
                            and UTickets will design a pretty fenty event artwork, tickets and postels within 2 days.
                          </p>
                        </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sizes">
  <div class="section-title">
    <h2 class="text-dark">Our tickets size</h2>
    <p></p>
  </div>
  <div class="container">
    <div class="row ">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-status-bottom bg-success"></div>
        <div class="card-body">
          <h3 class="card-title">A small ticket (9cm x 5cm)</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima
            neque pariatur perferendis sed suscipit velit vitae voluptatem.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 text-center" data-aos="fade-up">
      <div class="card">
        <a href="#">
          <img class="card-img-top" src="/img/services/KCCC.jpg" alt="How do you know she is a witch?">
        </a>
        <div class="card-status-bottom bg-success"></div>
        <div class="card-body">
          <h3 class="card-title p-0">A medium ticket (14cm x 5.5cm)</h3>
        </div>
        <div class="card-footer p-0 pt-1">
          <p>It is a good ticket for music concert events</p>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-status-bottom bg-success"></div>
        <div class="card-body">
          <h3 class="card-title">Card with bottom status</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima
            neque pariatur perferendis sed suscipit velit vitae voluptatem.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<div class="content services">
  <div class="section-title">
    <h2 class="text-dark">Our prices</h2>
    <p>We </p>
  </div>
  <div class="container-xl">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="text-uppercase text-muted">Small</div>
            <div class="h1 my-3"><sup class="text-muted"><small>RWF</small></sup> 100<sub class="text-muted"><small>/Per ticket</small></sub></div>
            <ul class="list-unstyled lh-lg">
              <li><strong>5</strong> Sellers</li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Printing
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Online selling
              </li>
               <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                Serial number
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                Designing
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                Barcode
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                Check-in
              </li>
            </ul>
            <div class="text-center mt-4">
              <a href="#" class="btn btn-secondary btn-block">Unchecked prices</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="ribbon ribbon-top ribbon-bookmark bg-green"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z" /></svg>
          </div>
          <div class="card-body text-center">
            <div class="text-uppercase text-muted">Medium</div>
            <div class="h1 my-3"><sup class="text-muted"><small>RWF</small></sup> 130<sub class="text-muted"><small>/Per ticket</small></sub></div>
            <ul class="list-unstyled lh-lg">
              <li><strong>10</strong> Sellers</li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Printing
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Online selling
              </li>
               <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Serial number
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Designing
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                Barcode
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                Check-in
              </li>
            </ul>
            <div class="text-center mt-4">
              <a href="#" class="btn btn-secondary btn-block">Unchecked prices</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="text-uppercase text-muted">Larlge</div>
            <div class="h1 my-3"><sup class="text-muted"><small>RWF</small></sup> 170<sub class="text-muted"><small>/Per ticket</small></sub></div>
            <ul class="list-unstyled lh-lg">
              <li><strong>20</strong> Sellers</li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Printing
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Online selling
              </li>
               <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Serial number
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Designing
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Barcode
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-danger" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="18" y1="6" x2="6" y2="18" /><line x1="6" y1="6" x2="18" y2="18" /></svg>
                Check-in
              </li>
            </ul>
            <div class="text-center mt-4">
              <a href="#" class="btn btn-secondary btn-block">Unchecked prices</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="text-uppercase text-muted">Customised</div>
            <div class="h1 my-3"><sup class="text-muted"><small>RWF</small></sup> 200<sub class="text-muted"><small>/Per ticket</small></sub></div>
            <ul class="list-unstyled lh-lg">
              <li><strong>Unlimited</strong> Sellers</li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Printing
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Online selling
              </li>
               <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Serial number
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Designing
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Barcode
              </li>
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mr-1 text-success" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12l5 5l10 -10" /></svg>
                Check-in
              </li>
            </ul>
            <div class="text-center mt-4">
              <a href="#" class="btn btn-primary btn-block">Customise now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  


<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 video-box">
        <img src="/img/hero-img.png" class="" alt="">
        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h2>About Us</h2>
          <p>We are UBUMWE Ticketing, A young innovators and motivated Tech company specializing in Event ticket making. 
             We believe passionately in great bargains and excellent service, which is why we commit ourselves to giving you the best of both.</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="icofont-eye icofont-3x"></i></div>
          <h4 class="title"><a href="">VISION</a></h4>
          <p class="description">To create and promote full potential and innovative automated systems on internet.</p>
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="icofont-bullseye"></i></div>
          <h4 class="title"><a href="">MISSION</a></h4>
          <p class="description">To accelerate the best of self event management services with automated system.</p>
        </div>

        <!-- <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="icofont-bullseye"></i></div>
          <h4 class="title"><a href="">Proudly made in Rwanda</a></h4>
          <p class="description">To accelerate the best of self event management services with automated system.</p>
        </div> -->

      </div>
    </div>

  </div>
</section>

<section class="counts p-3">
  <div class="section-title">
    <h2></h2>
    <p></p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
        <div class="count-box">
          <i class="icofont-simple-smile" style="color: #486886;"></i>
          <span data-countup='{"duration":4}' data-toggle="counter-up">2</span>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
        <div class="count-box">
          <i class="icofont-document-folder" style="color: #486886;"></i>
          <span data-countup='{"duration":4}' data-toggle="counter-up">2</span>
          <p>Projects</p>
        </div>
      </div>
      

      <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
        <div class="count-box">
          <i class="icofont-live-support" style="color: #486886;"></i>
          <span data-countup='{"duration":4}' data-toggle="counter-up">24</span>
          <p>Hours Of Support</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
        <div class="count-box">
          <i class="icofont-users-alt-5" style="color: #486886;"></i>
          <span data-countup='{"duration":4}' data-toggle="counter-up">4</span>
          <p>Hard Workers</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team" class="team">
  <div class="container">

    <div class="section-title">
      <h2 class="text-dark">Our Team</h2>
      <p>Meet our hard working team </p>
    </div>

    <div class="row justify-content-center">

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
        <div class="member">
          <div class="pic"><img src="/img/team/IMG-20200903-WA0011.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>NDANYUZWE Felix</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="icofont-phone"></i></a>
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="pic"><img src="/img/team/3N4D7296.JPG" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>BYISHIMO Christian</h4>
            <span>Product Manager</span>
            <div class="social">
              <a href=""><i class="icofont-phone"></i></a>
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="/img/team/IMG-20200905-WA0021.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>SHYAKA Benjamin</h4>
            <span>IT Officer</span>
            <div class="social">
              <a href=""><i class="icofont-phone"></i></a>
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic"><img src="/img/team/20200818_180749.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4> Moise</h4>
            <span>Graphic designer</span>
            <div class="social">
              <a href=""><i class="icofont-phone"></i></a>
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 class="text-dark">Frequently Asked Questions</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-help icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="12" r="9"></circle><line x1="12" y1="17" x2="12" y2="17.01"></line><path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path></svg>         
           <a data-toggle="collapse" class="collapse" href="#faq-list-1">
           Non consectetur a erat nam at lectus urna duis? 
           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-show icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 9 12 15 18 9"></polyline></svg>
           <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-close icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
          </a>
          <div id="faq-list-1" class="collapse" data-parent=".faq-list">
            <p>
              Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-help icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="12" r="9"></circle><line x1="12" y1="17" x2="12" y2="17.01"></line><path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path></svg>          
          <a data-toggle="collapse" href="#faq-list-2" class="collapsed">
            Feugiat scelerisque varius morbi enim nunc? 
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-show icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 9 12 15 18 9"></polyline></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-close icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
          </a>
          <div id="faq-list-2" class="collapse" data-parent=".faq-list">
            <p>
              Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-help icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="12" r="9"></circle><line x1="12" y1="17" x2="12" y2="17.01"></line><path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path></svg>          
          <a data-toggle="collapse" href="#faq-list-3" class="collapsed">
            Dolor sit amet consectetur adipiscing elit? 
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-show icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 9 12 15 18 9"></polyline></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-close icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
          </a>
          <div id="faq-list-3" class="collapse" data-parent=".faq-list">
            <p>
              Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-help icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="12" r="9"></circle><line x1="12" y1="17" x2="12" y2="17.01"></line><path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path></svg>          
          <a data-toggle="collapse" href="#faq-list-4" class="collapsed">
            Tempus quam pellentesque nec nam aliquam sem et tortor consequat? 
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-show icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 9 12 15 18 9"></polyline></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-close icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
          </a>
          <div id="faq-list-4" class="collapse" data-parent=".faq-list">
            <p>
              Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-help icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="12" r="9"></circle><line x1="12" y1="17" x2="12" y2="17.01"></line><path d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4"></path></svg>          
          <a data-toggle="collapse" href="#faq-list-5" class="collapsed">
            Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? 
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-show icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 9 12 15 18 9"></polyline></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-close icon-md" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><polyline points="6 15 12 9 18 15"></polyline></svg>
          </a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
              Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
            </p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section>


<section id="contact" class="contact">
  <div class="section-title">
    <h2 class="text-dark">Contact Us</h2>
    <p> </p>
  </div>
  <div class="container">
    <div class="row"> 
      <div class="col-lg-6 flex-column align-items-stretch" data-aos="fade-up">
        <div class="info-box bg-blue-lt">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><circle cx="12" cy="11" r="3"></circle><path d="M17.657 16.657L13.414 20.9a1.998 1.998 0 0 1 -2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0z"></path></svg>          <h3>Our Address</h3>
          <p>Kicukiro, KIGALI Rwanda</p>
        </div>
        <div class="col-lg-12  d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="info-box bg-blue-lt">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><rect x="3" y="5" width="18" height="14" rx="2"></rect><polyline points="3 7 12 13 21 7"></polyline></svg>          <h3>Email Us</h3>
          <p>info@example.com<br>contact@example.com</p>
        </div>
      </div>
      <div class="col-lg-12  d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="info-box bg-blue-lt">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M4 4h5l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v5a1 1 0 0 1 -1 1a16 16 0 0 1 -16 -16a1 1 0 0 1 1 -1"></path></svg>          <h3>Call Us</h3>
          <p>+250 786 141 1563<br>+250 786 141 1563</p>
        </div>
      </div>
      </div>
      <div class="col-lg-6"  data-aos="fade-up" data-aos-delay="300">
        <form action="#" method="POST" role="form" class="">
          <div class="form-row">
            <div class=" form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class=" form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="text-center"><button class="btn btn-primary btn-square" type="submit">Send Message</button></div>
        </form>
      </div>
    </div>

  </div>
</section>


