
<main>
  <div class="container-fluid pt-2">
    <div class="card taxt-center">
      <ul class="nav nav-tabs pr-4 pl-4" >
        <li class="nav-item pr-4 pl-4 btn-white">
          <a class="nav-link active" id="tickets-tab" data-toggle="tab" href="#tickets" role="tab" aria-controls="tickets" aria-selected="true">Tickets</a>
        </li>
        <li class="nav-item btn-white pr-4 pl-4">
          <a class="nav-link" id="printing-tab" data-toggle="tab" href="#printing" role="tab" aria-controls="printing" aria-selected="false">Printing</a>
        </li>
        <li class="nav-item btn-white pr-4 pl-4">
          <a class="nav-link" id="selling-tab" data-toggle="tab" href="#selling" role="tab" aria-controls="selling" aria-selected="false">Selling</a>
        </li>
        <li class="nav-item btn-white pr-4 pl-4">
          <a class="nav-link" id="check-in-tab" data-toggle="tab" href="#check-in" role="tab" aria-controls="check-in" aria-selected="false">Check-in</a>
        </li>
        <li class="nav-item btn-white pr-4 pl-4">
          <a class="nav-link" id="check-in-tab" data-toggle="tab" href="#check-in" role="tab" aria-controls="check-in" aria-selected="false">Payments</a>
        </li>
        <li class="nav-item btn-white  ml-auto">
          <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-md" width="28" height="28" viewBox="0 0 22 22" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><circle cx="12" cy="12" r="3"></circle></svg>
          &nbsp; Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
 
  
  
  
</main>